/* modifiche header */
.mc-hight-row-header{
    height: 6.25rem;
}
.back-color-start{
    background-color:#2c3e50 ;
    color: #ffff;
}

.mc-header-nav ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
}
/* /modifiche header */

/* modifiche main */
.hero{
    background-color: #1abc9c;
    min-height: 12.5rem;
}
/* modifiche seconda section */
.mc-container{
    max-width: 25rem;
   
}

.mc-back-color-main{
    background-color:#1abc9c;
    color: white;
}


.box{
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 3.125rem; 
}
.start{
    
    background-color: blue;
}
.first{
    background-color: yellow;
}
.second{
    background-color: red;
}
.third{
    background-color: brown;
}
.fourth{
    background-color: pink;
}
.fifth{
    background-color: aquamarine;
}
/*/ modifiche seconda section */
/*/ modifiche footer */
.mc-back-color-footer{
    background-color:#3a546d;
    color: white;
}

/* modifiche footer */


