/* modifiche header */

.back-color-start{
    background-color:#2c3e50 ;
    color: #ffff;
}
.mc-hero{
    color: white;
    background-color: #1abc9c;
}

.mc-font{
    font-weight: bold;
}
.mc-menu-nav{
    color: currentColor;
}
.mc-size{
    font-size: 3.125rem;
}

.mc-header-nav ul{
    display: flex;
   justify-content: space-between;
    list-style: none;
}

.fa-star{
    color: currentColor;
}

.mc-header-nav-artist ul{
    display: flex;
   justify-content: center;
    list-style: none;
}
.fa-bars{
    color: white;
}
.mc-header-nav a{
    text-decoration: none;
    color: white;
}

/* /modifiche header */

/* modifiche main */
.hero{
    background-color: #1abc9c;
    min-height: 12.5rem;
}
/* modifiche seconda section */
.mc-container{
    max-width: 60%;
   
}

.mc-back-color-main{
    background-color:#1abc9c;
    color: white;
}

.mc-img{
    width: 100%;
    display: block;
}


/*/ modifiche seconda section */
/*/ modifiche footer */
.mc-back-color-footer{
    background-color:#3a546d;
    color: white;
}

/* modifiche footer */


